# Build artifacts
**/bin/
**/obj/

# IDE-specific files
/.vs/
/.idea/

# Local configuration files
launchSettings.json
appsettings*.json

# Optional: Third-party library packages
**/packages/

# Consider using a separate repository for documentation
# **/docs/